<!DOCTYPE html>

<html>

<head>
    <title>404</title>
    <link rel = "icon" href = "/pics/dorf.jpg">
    <!-- <link rel="stylesheet" href="./css/styles.css" /> relative-->
    <link rel="stylesheet" href="/css/styles.css" /> <!-- absolute -->

</head>


<body>
    <div class="main-content">
        {{>header}}
        <p>{{error}}</p>
    </div>
    {{>footer}}

</body>


</html>